header {
    .hero-image {
        max-height: 30vw;
    }

    .main-title {
        text-align: center;
        padding: 2rem 0 1rem 0;
        h1 {
            font-size: 3rem;
        }
        a {
            transition: color 0.5s;
            &:hover {
                color: var(--dark-color);
            }
        }
    }
}

// HERO
.hero-section {
    padding: 2rem;
    @include flex-column-center-center;

    .hero-container {
        max-width: 80%;
        background: var(--primary-darkened);
        border-radius: 1rem;

        a {
            text-decoration: none;

            .hero-inner-container {
                @include flex-column-center-center;

                padding: 1rem;
                display: flex;
                flex-direction: column;

                color: $light-color;
                transition: all 0.5s;
                border-radius: 1rem;
                text-align: center;
                &:hover {
                    background: var(--primary-lightened);
                    .hero-link {
                        background-color: var(--primary-color);
                    }
                }

                .hero-latest-release {
                }
                .hero-title {
                    font-weight: bold;
                    font-size: 2rem;
                    padding-bottom: 1rem;
                    line-height: 3rem;
                    h2 {
                        margin: 0;
                    }
                }

                .hero-image-container {
                    position: relative;
                    // padding-bottom: 1rem;
                    .category {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 0.8rem;
                        background: var(--secondary-color);
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

// CATEGORY!!!
.category {
    @include flex-column-center-center;
    .category-container {
        max-width: 1280px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        .category-card {
            width: 12rem;
            padding: 1rem;
            background: var(--secondary-darkened);
            border-radius: 1rem;
            transition: all 0.5s;

            &:hover {
                background: var(--secondary-lightened);
                font-weight: bold;
                .hero-link {
                    background: var(--secondary-darkened);
                }
            }

            div {
                @include flex-column-center-center;
                font-size: 1.5rem;
                color: var(--light-color);
                padding-bottom: 0.5rem;
                a {
                    text-decoration: none;
                }
            }
        }

        &.filtered-container {
            .category-card {
                background: var(--dark-color);

                &.filtered-card {
                    font-weight: bold;
                    background: var(--secondary-darkened);
                }
                &:hover {
                    background: var(--secondary-lightened);
                    font-weight: bold;
                }
            }
        }
    }
}

// ITEMS
.items {
    @include flex-column-center-center;
    margin: 2rem;

    .item-container {
        max-width: 1280px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        .item-card {
            font-size: 1.5rem;
            color: var(--light-color);
            padding: 0.5rem;
            background: var(--primary-darkened);
            @include flex-column-center-center;
            text-align: center;
            transition: all 0.5s;
            border-radius: 1rem;

            &:hover {
                background: var(--primary-lightened);
            }

            a {
                text-decoration: none;
                color: var(--light-color);
                @include flex-column-center-center;

                .item-title {
                    padding: 1rem;
                    font-weight: bold;
                }

                .item-image-wrapper {
                    position: relative;

                    .item-category {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 0.8rem;
                        background: var(--secondary-color);
                        opacity: 0.7;
                        font-size: 1rem;
                    }
                }

                .item-description {
                    font-size: 1rem;
                    max-width: 60%;
                }

                .item-date-label {
                    font-size: 1rem;
                    font-style: italic;
                }
            }
        }
    }
}

.back-home > a {
    color: var(--light-color);
    transition: all 0.5s;
    &:hover {
        color: var(--dark-color);
    }
}
