// LEFT HAND LOGO
.left-hand-jacksorjacksor-logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1rem;
    @include hover-transition-to-black-transparent;
}

/* MENU TOGGLE */
.toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    color: var(--dark-color);
    font-weight: bold;
    background: var(--light-color);
    z-index: 20;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    rotate: 0deg;
    border-radius: 0;
    transition: all 0.5s;

    &:hover {
        rotate: 360deg;
        border-radius: 50%;
    }

    p {
        margin: 0;
        padding: 0;
        line-height: 0.8;
    }

    &.active {
        background: var(--dark-color);
        color: var(--light-color);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/* NAV MENU (hidden by toggle) */
.navigation {
    position: fixed;
    top: 0;
    left: 200%;
    background: var(--dark-color);
    width: 100%;
    height: 100%;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
        left: 0;
    }

    ul {
        position: relative;
        padding: 0;

        li {
            position: relative;
            list-style: none;
            text-align: center;

            .navigation-list-item-site-name {
                font-size: 3rem;
            }

            .active {
                font-weight: bold;
            }
            a {
                font-size: 3rem;
                color: var(--light-color);
                text-decoration: none;
                font-weight: 300;
                @include hover-transition-to-black-transparent;
                text-align: center;
            }

            &.active a {
                font-weight: bold;
            }
        }
    }

    .social-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            display: inline-block;
            transform: scale(0.8);
        }
    }
}

button.form-mailing-list {
    border-radius: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    transition: all 0.5s;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--dark-color);
    background: var(--light-color);

    &:hover {
        border-radius: 0rem;
        background: var(--dark-color);
        color: var(--light-color);
    }
}

.form-mailing-list {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}
