@import 'variables.scss';
@import 'navbar.scss';
@import 'landing_page.scss';
@import 'list_page.scss';
@import 'detail_page.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--light-color);
    background: var(--primary-color);
    &,
    p,
    h1 {
        margin: 0;
    }
}

footer {
    text-align: center;
    background: var(--dark-color);
    padding: 1rem;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

@import 'media.scss';
