// Font family import: Poppins
@import url('http://fonts.cdnfonts.com/css/poppins');

// Color variables
$music-color: rgb(128, 0, 32);
$tech-color: rgb(0, 0, 128);
$dark-color: black;
$light-color: white;

// Set as ROOT variables
:root {
    --primary-color: #{$music-color};
    --primary-darkened: #{darken($music-color, 8%)};
    --primary-lightened: #{lighten($music-color, 8%)};
    --secondary-color: #{$tech-color};
    --secondary-darkened: #{darken($tech-color, 4%)};
    --secondary-lightened: #{lighten($tech-color, 4%)};
    --dark-color: #{$dark-color};
    --light-color: #{$light-color};
}

// Class added to body to change ROOT variables
.tech {
    --primary-color: rgb(0, 0, 128);
    --secondary-color: rgb(128, 0, 32);
    --secondary-darkened: #{darken($music-color, 8%)};
    --secondary-lightened: #{lighten($music-color, 8%)};
    --primary-darkened: #{darken($tech-color, 4%)};
    --primary-lightened: #{lighten($tech-color, 4%)};
}

// This is redundant as is default
.music {
    --primary-color: #{$music-color};
    --secondary-color: #{$tech-color};
}

.menu-jacksorjacksor {
    font-size: 3rem;
    font-weight: bold;
}
// Mixin
@mixin hover-transition-to-black-transparent {
    transition: all 0.5s;
    &:hover {
        color: var(--dark-color);
        opacity: 0.5;
    }
}

@mixin flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
