 <!-- CATEGORY -->
 <section class="category">
    <div class="category-container">
        {% for category in categories %}
            <div class="category-card category-{{category.title}}}}">
                <a href="music-list-filter-{{category.title}}-page.html">
                    <div class="category-title">{{category.title}}</div>
                    <div class="category-icon">
                        <i class="fas fa-record-vinyl"></i>
                    </div>
                </a>
            </div>
        {% empty %}
            <h1>No categories yet</h1>
        {% endfor %}
    </div>
</section> 