{% extends "base.html" %}

{% load static wagtailcore_tags menu_tags %} 


{% block body_class %}
{# This ends up being the Discipline #}
{% endblock %}


{% block content %}

{% for item in menu_items %}
    {{ item.text }}
{% endfor %}


<!-- CONTENT -->
<section class="landing" id="landing">
    <div class="music-landing landing-card">
        <div class="site-name">
            <a href="/"><h1>jacksorHIRICHSAVEME!!!</h1></a>
        </div>
        <div class="header ">
            <a href="{% pageurl music_list_page %}">
                <p>music</p>
            </a>
        </div>

        <div class="icon ">
            <a href="{% pageurl music_list_page %}">
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>

        <div class="icon ">
            <a href="{% pageurl music_list_page %}"><i class="fas fa-music"></i></a>
        </div>
    </div>
    <div class="tech-landing">
        <div class="site-name">
            <a href="/"><h1>jacksor</h1></a>
        </div>

        <div class="header ">
            <a href="{% pageurl tech_list_page %}">
                <p>tech</p>
            </a>
        </div>

        <div class="icon ">
            <a href="{% pageurl tech_list_page %}">
                <i class="fas fa-arrow-down"></i>
            </a>
        </div>

        <div class="icon ">
            <a href="{% pageurl tech_list_page %}"
                ><i class="fas fa-laptop-code"></i
            ></a>
        </div>
    </div>
</section>

{% endblock content %}
