{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags debugger_tags quick_tag category_tag wagtailroutablepage_tags %} 

{% block body_class %}{{ page.title | lower }}{% endblock %}

{% block content %}
    <header>
        <div class="main-title">
            <h1><a href="{% routablepageurl list_page "post_list" %}">{{ page.title }}</a></h1>
            <p class="subtitle">
                {{ page.description }}
            </p>
        </div>
    </header>
    <h1>HERE?</h1>
    {% categories_list %}

    <h1>HERE?</h1>
{% endblock content %}