{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags debugger_tags quick_tag category_tag wagtailroutablepage_tags %} 

{% block body_class %}{{ page.title | lower }}{% endblock %}

{% block content %}
    <header>
        <div class="main-title">
            <h1><a href="{% routablepageurl list_page "post_list" %}">{{ page.title | lower }}</a>{% if category %} > <a href="{% routablepageurl list_page 'post_by_category' category %}">{{ category | lower  }}</a></h1>{%endif %}
            
            </h1>

            <p class="subtitle">
                {{ page.description }}
            </p>
        </div>
    </header>

    

    {% categories_list %}

    <!-- HERO -->
    {% comment %} Make a separate Hero finding function! {% endcomment %}
    {% for hero in posts  %}
        {% if hero.hero_content_bool %}
            <!-- HERO -->
            <section class="hero-section">
                <div class="hero-container">
                    <a
                        href="{% pageurl hero %}"
                        class="hero-link"
                    >
                        <div class="hero-inner-container">
                            <div class="hero-latest-release">
                                <p>{{ hero.hero_super_title }}</p>
                            </div>
                            <div class="hero-title"><h2>{{ hero.title }}</h2></div>
                                <div class="hero-image-container">
                                    {% image hero.header_image fill-250x250 class="hero-image" %}
                            
                                    <div class="category">
                                        <i class="{{hero.categories.first.category.icon}}"></i>
                                    </div>
                                </div>
                                <div class="hero-date-label">
                                    <p><small>{{ hero.last_published_at }}</small></p>
                                </div>
                                <div class="hero-description-label">
                                    {{ hero.description }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
        {% endif %}
    {% endfor %}

    <!-- ITEMS -->
    <section class="items">
        <div class="item-container">
            {% for card in posts %}
                {% if not card.hero_content_bool %}
                    <div class="item-card">
                        <a href="{% pageurl card %}">
                            <div class="item-title">{{ card.title }}</div>
                            <div class="item-image-wrapper">
                                {% image card.header_image fill-250x250 class="item-image" %}
                                <div class="item-category">
                                    <i class="{{card.categories.first.category.icon}}"></i>
                                </div>
                            </div>
                            <div class="item-date-label">
                                <p><small>{{ card.last_published_at}}</small></p>
                            </div>
                            <div class="item-date-label">
                                <p>{{ card.description }}</p>
                            </div>
                        </a>
                    </div>
                {% endif %}             
            {% endfor %}
        </div>
    </section>

{% comment %} Do need to make a footer - don't forget to ALSO have a mailing list! {% endcomment %}

{% endblock content %}
