{% load menu_tags debugger_tags %}

<ul>
{% for item in menu_items %}
    <li class="{{ item.active_class }} menu-item">
        <a href="{{ item.href }}">{{ item.text | lower }}</a>
    </li>
{% endfor %}
    <div class="mailing-list-menu-item">
        <li class="menu-item">-</li>
        <li class="menu-item"><form name="new-contact" method="POST" data-netlify="true">
        <label class="form-mailing-list">mailing list:</li>
        <li class="menu-item">
        <input type="text" name="email" placeholder="email address" class="form-mailing-list" /></label></li>
        <li class="menu-item"><button
            type="submit"
            class="form-mailing-list"
        >
            sign-up
        </button></li>
    </div>
    </form>
</ul>