
<p id="success-message" class="hidden"></p>
<form id="mailing_list_form" onsubmit="checkEmail()" method="POST">
    <label for="mailing_list_form">Mailing list: </label>
    {% csrf_token %}
    <input id="name_submission_data" class="hidden" type="text" name="name" placeholder="name" />
    <input type="email" name="text_input" id="email_submission_data" placeholder="email@address.please">
    <button type="submit">Sign up</button>
</form>


<script>
    // Details from this article: https://www.brennantymrak.com/articles/fetching-data-with-ajax-and-django.html
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function checkEmail(){
        event.preventDefault();
        // Captcha check: if "name" field is filled out then it's a bot
        var name_input = document.getElementById('name_submission_data').value;
        var email_input = document.getElementById('email_submission_data').value;
        var success_message = document.getElementById('success-message')
        var mailing_list_form = document.getElementById('mailing_list_form')
        // If no info is put into the email form then don't submit
        
        if (email_input.length==0){
            return null;
        }

        fetch('/ajax/mailing_list/',{
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({
                'name_input':name_input,
                'email_input':email_input
            }),
            credentials: 'same-origin',
        }).then(response => {
            return response.json() //Convert response to JSON
        }).then(data => {
            success_message.classList.remove("hidden");
            success_message.innerHTML=data.output_message;
            mailing_list_form.classList.add("hidden");
        })
    } 
</script>