{% comment %} I removed this as it wasn't working and was a bit in your face... {% endcomment %}


<div class="mailing-list-menu-item">
    <li class="menu-item">-</p></li>
        <form id="mailing_list_form_nav" onsubmit="checkEmailNav()" method="POST">
            <li class="menu-item"><label class="form-mailing-list" for="mailing_list_form_nav">Mailing list</label></li>
            {% csrf_token %}
            <input id="name_submission_data_nav" class="hidden" type="text" name="name" placeholder="name" />
            <li class="menu-item"><input type="email" name="text_input" id="email_submission_data_nav" class="form-mailing-list" placeholder="email@address.please"><p id="success_message_nav" class="hidden"></p></li>
            <li class="menu-item"><button class="form-mailing-list" type="submit">Sign up</button></li>
        </form>


<script>
    // Details from this article: https://www.brennantymrak.com/articles/fetching-data-with-ajax-and-django.html
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function checkEmailNav(){
        event.preventDefault();
        // Captcha check: if "name" field is filled out then it's a bot
        var name_input = document.getElementById('name_submission_data_nav').value;
        var email_input = document.getElementById('email_submission_data_nav').value;
        // If no info is put into the email form then don't submit
        
        if (email_input.length==0){
            return null;
        }

        fetch('/ajax/mailing_list/',{
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({
                'name_input':name_input,
                'email_input':email_input
            }),
            credentials: 'same-origin',
        }).then(response => {
            return response.json() //Convert response to JSON
        }).then(data => {
            console.log(data.output_message)
            document.getElementById('success_message_nav').classList.remove("hidden");
            document.getElementById('success_message_nav').innerHTML=data.output_message;
            document.getElementById('mailing_list_form_nav').classList.add("hidden");
        })
    } 
</script>