{% extends 'base.html' %}
{% load menu_tags %}
<!-- NAV MENU -->
{% block navbar %}
<nav>
    <div class="left-hand-jacksorjacksor-logo">
        <a href="index.html">jacksorjacksor</a>
    </div>
    <div class="toggle active">
        <p>ME</p>
        <p>NU</p>
    </div>
    <div class="navigation">
        <div class="left-hand-jacksorjacksor-logo">
            <a href="index.html">jacksorjacksor</a>
        </div>

        {% main_menu max_levels=2 template="components/menus/custom_main_menu.html" sub_menu_templates="components/menus/sub_menu.html"%}

        {% comment %} <ul>
            <li class="navigation-list-item-site-name">
                <a href="index.html"
                    ><p class="menu-jacksorjacksor">jacksorjacksor</p></a
                >
            </li>
            <li>
                <a href="music-list-view-page.html">music</a>
                <ul class="sublink">
                    <li>
                        <a href="music-list-filter-recordings-page.html"
                            >recordings</a
                        >
                    </li>
                    <li>
                        <a href="music-list-filter-videos-page.html">videos</a>
                    </li>
                    <li>
                        <a href="music-list-filter-shows-page.html">shows</a>
                    </li>
                    <li><a href="#">articles</a></li>
                </ul>
            </li>
            <li>
                <a href="tech-list-view-page.html">tech</a>
                <ul class="sublink">
                    <li><a href="">apps</a></li>
                    <li><a href="">games</a></li>
                    <li><a href="">sites</a></li>
                    <li><a href="">articles</a></li>
                </ul>
            </li>
            <li><a href="#">about</a></li>
            <li><a href="#">contact</a></li>
        </ul> {% endcomment %}
        <div class="social-bar">
            <ul>
                <li>
                    <a href="https://twitter.com/jacksorjacksor" target="_blank"
                        ><i class="fab fa-twitter"></i
                    ></a>
                </li>
                <li>
                    <a
                        href="https://youtube.com/jacksorjacksor/"
                        target="_blank"
                        ><i class="fab fa-youtube"></i
                    ></a>
                </li>
                <li>
                    <a href="https://jacksorjacksor.itch.io" target="_blank"
                        ><i class="fab fa-itch-io"></i
                    ></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
