{% extends 'base.html' %}
{% load menu_tags %}
<!-- NAV MENU -->
{% block navbar %}
<nav>
    <div class="left-hand-jacksorjacksor-logo">
        <a href="/">jacksorjacksor</a>
    </div>
    <div class="toggle active">
        <p>ME</p>
        <p>NU</p>
    </div>
    <div class="navigation">
        <div class="left-hand-jacksorjacksor-logo">
            <a href="/">jacksorjacksor</a>
        </div>

        {% main_menu max_levels=2 template="components/menus/custom_main_menu.html" sub_menu_templates="components/menus/sub_menu.html"%}

        <div class="social-bar">
            <ul>
                <li>
                    <a href="https://twitter.com/jacksorjacksor" target="_blank"
                        ><i class="fab fa-twitter"></i
                    ></a>
                </li>
                <li>
                    <a
                        href="https://youtube.com/jacksorjacksor/"
                        target="_blank"
                        ><i class="fab fa-youtube"></i
                    ></a>
                </li>
                <li>
                    <a href="https://jacksorjacksor.itch.io" target="_blank"
                        ><i class="fab fa-itch-io"></i
                    ></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
